<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Taste Buddies</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
     <link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
  </head>
  <body>
    <div id="logo">
        <img src="../static/img/logo.jpg" alt="Taste Buddies" />
     </div>
    <header>
        <nav>
            <ul>
                <li><a href="index.html" class="selected">+Home</a></li>
                <li><a href="login.html">+Log in</a></li>
<!--                 show the latest entry on the detail page -->
                <li><a href="create_account.html">+Create Account</a></li>
                </li>
            </ul>
        </nav>
    <header class="container">
    <div id=cat>
        <img src="../static/img/taste_buddies_banner.png" alt="taste buddies banner" />
    </div>
    </header>
    <h1> Group Description</h1>


<div id="group-page-profile-photo">
<img src="../static/img/dog3.jpg" alt="Pesonal Profile Photo" class="group-page-profile-photo">
<div>
<div>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam sem,fringilla vel lectus in, pulvinar viverra massa. Nunc rutrum leo id tincidunt porta.
Nullam felis mi, volutpat quis justo nec, varius bibendum dolor. Phasellus ac tortor nisi. Nam eget ultrices nibh, sed dapibus risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>
<div>
    <a class="sweet button disabled" href="#">Sweet</a>
    <a class="spicy button disabled" href="#">Spicy</a>
    <a class="salty button disabled" href="#">Salty</a>
    <a class="sour button disabled" href="#">Sour</a>
    <a class="bitter button disabled" href="#">Bitter</a>
    <a class="italian button disabled" href="#">Italian</a>
    <a class="american button disabled" href="#">American</a>
    <a class="german button disabled" href="#">German</a>
    <a class="british button disabled" href="#">British</a>
    <a class="french button disabled" href="#">French</a>
    <a class="vegetarian button disabled" href="#">Vegetarian</a>
    <a class="vegan button disabled" href="#">Vegan</a>
</div>






<!--
<p>Things to be displayed in this group:</p>

<ul>
    <li>Name</li>
    <li>Description</li>
    <li>Age Range</li>
    <li>List of Members</li>
    <li>Location</li>
    <li>Admin</li>
    <li>Taste Profile</li>
    <li>Price Range</li>
    <li>Group Picture</li>
    <li>Comments</li>
</ul> -->

<nav>
    <ul>
    <li><a href="{{ request.route_url('group_edit', group_id=1) }}"> +Edit Group hide x admin</a></li>

    <li><a href="{{ request.route_url('profile_detail', username='username') }}"> +Delete Group hide admin</a><li>
    </ul>
</nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    <aside>
      </aside>
    <footer>
      <p>&copy; 2015 Taste Buddies Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
  </body>
</html>
