{% extends "base.jinja2" %}

{% block body %}

<div id="#form-container">
<form id="view-group-form" action="{{ request.route_url('group_detail', group_id=group.id) }}">
    <h1>Edit your group!</h1>
     <div><!--     an image uploading bar thing suppose to be right here -->
        <img src="../../static/img/dog.jpg" alt="Group Profile Photo" class="group-profile-photo">
    </div>
<label>Group Name</label>
    <div class="field-group">
        <input type="text" name="group_name" id="group_name"
        value="{{ group.name }}"/>
    </div>
    <label>Age</label>
    <div class="field-group">
        <select class="group_age_range" />
        {% for age in ages %}
            {% if age.age_group == group.age %}
                <option selected='selected'>{{ group.age }}</option>
            {% else %}
                <option>{{ age.age_group }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    <label>Location</label>
    <div class="field-group">
        <select class="group_location" />
        {% for location in locations %}
            {% if location.city == group.location %}
                <option selected='selected'>{{ group.location }}</option>
            {% else %}
                <option>{{ location.city }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>

    <div id="group_taste" class="field-group">
        <label>Taste</label>
        {% for food_profile in food_profiles %}
            {% if food_profile.taste == group.food_profile %}
                <input type="checkbox" name="group_taste" class="style"
                       value="{{ group.food_profile }}" checked="checked">{{ group.food_profile }}
            {% else %}
                <input type="checkbox" name="group_taste" class="style" value="{{ food_profile.taste }}">{{ food_profile.taste }}
            {% endif %}
        {% endfor %}


        <label>Diet</label>
        {% for diet in diets %}
            {% if diet.diet == group.diet_restrict %}
                <input type="checkbox" name="group_taste" class="style"
                       value="{{ group.diet_restrict }}" checked="checked">{{ group.diet_restrict }}
            {% else %}
                <input type="checkbox" name="group_taste" class="style" value="{{ diet.diet }}">{{ diet.diet }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="field-group">
        <label>Price</label>
        {% for cost in costs %}
            {% if cost.cost == group.cost %}
                <input type="radio" name="group_price" class="style"
                       value="{{ group.cost }}" checked="checked">{{ group.cost }}
            {% else %}
                <input type="radio" name="group_price" class="style" value="{{ cost.cost }}">{{ cost.cost }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="field-group">
        <label>Group Description</label>
        <textarea
            id="text"
            name="text"
            cols="60"
            rows="8">{{ group.description }}</textarea>
    </div>
    <input id="save_group" type="submit" name="profile_save" value="Save Group"/>
</form>
</div>

{% endblock %}
