{% extends "base.jinja2" %}

{% block body %}

<div id="#form-container">
<form id="view-group-form" action="{{ request.route_url('group_edit', group_name=group.name) }}" method='POST'>
    <h1>Edit your group!</h1>
     <div><!--     an image uploading bar thing suppose to be right here -->
        <img src="../../static/img/dog.jpg" alt="Group Profile Photo" class="group-profile-photo">
    </div>
<label>Group Name</label>
    <div class="field-group">
        <input type="text" name="name" id="group_name"
        value="{{ group.name }}"/>
    </div>
    <label>Age</label>
    <div class="field-group">
        <select class="age" name="age" />
            {% for age in criteria.AGES %}
                {% if criteria.age %}
                {% if age in criteria.age %}

                <option value={{ age }} selected>{{ age }}</option>

                {% else %}
                <option value={{ age }}>{{ age }}</option>
                {% endif %}
                {% else %}
                <option value={{ age }}>{{ age }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <label>Location</label>
        <select class="location" name="location"/>
            {% for location in criteria.LOCATIONS %}
                {% if criteria.location %}
                {% if location in criteria.location %}
                <option value={{ location }} selected>{{ location }}</option>

                {% else %}
                <option value={{ location }}>{{ location }}</option>
                {% endif %}
                {% else %}
                <option value={{ location }}>{{ location }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div id="taste" class="field-group">
        <label>Taste</label>
        {% for taste in criteria.TASTES %}
            {% if taste in criteria.taste %}
                <input type="checkbox" name="taste" class="personal_taste"
                       value="{{ taste }}" checked="checked">{{ taste }}
            {% else %}
                <input type="checkbox" name="personal_taste" class="taste" value="{{ taste.id }}">{{ taste }}
            {% endif %}
        {% endfor %}

        <label>Diet</label>
        {% for diet in criteria.DIETS %}
            {% if diet in criteria.diet %}
                <input type="checkbox" class="diet"
                       value="{{ diet }}" checked="checked" name="diet">{{ diet }}
            {% else %}
                <input type="checkbox" class="diet" value="{{ diet }}" name="diet">{{ diet }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="field-group">
        <label>Cost</label>
        {% for cost in criteria.COSTS %}
          {% if criteria.cost %}
          {% if cost in criteria.cost %}
          <input type="radio" checked='checked' name="cost" class="style" value={{ cost }}>{{ cost }}

          {% else %}
          <input type="radio" name="cost" class="style" value={{ cost }}>{{ cost }}
          {% endif %}
          {% else %}
          <input type="radio" name="cost" class="style" value={{ cost }}>{{ cost }}
          {% endif %}

        {% endfor %}
    </div>
        <label>Group Description</label>
    <div class="description" id="description" name="description">
        <textarea
            id="text"
            name="description"
            class="description"
            cols="60"
            rows="8"
            value="{{ group.description }}">{{ group.description }}</textarea>
    </div>

    <input id="save_group" type="submit" name="profile_save" value="Save Group"/>
</form>
</div>

{% endblock %}
