{% extends "base.jinja2" %}

{% block body %}

<h1>{{ group.name }}</h1>
<div id="group-page-profile-photo">
<img src="../static/img/dog3.jpg" alt="Pesonal Profile Photo" class="group-page-profile-photo">
<div>

<div>
<p>{{ group.description }}</p>
</div>

<h1>Group Food Profile</h1>
<div id="group_taste_buttons">
<p>
{% for taste in group.food_profile %}
    <span class="button disabled {{ taste.taste.lower() }}">
    {{ taste.taste }}
    </span>
{% endfor %}
{% for diet in group.diet_restrict %}
    <span class="button disabled {{ diet.diet.lower() }}">
    {{ diet.diet }}
    </span>
{% endfor %}


    <span class="button disabled {{ price.lower() }}">{{ price }}
    </span>

    <span class="button disabled {{ location.lower() }}">
    {{ location }}
    </span>
    <span class="button disabled {{ age.lower() }}">
    {{ age }}
    </span>
</p>

{% if request.has_permission('authn') %}

    <h2> Members </h2>
    <div id = "members_container">
        <img src="../static/img/dog4.jpg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog5.jpeg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog6.jpeg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog7.jpg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog8.jpg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog9.jpg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog10.jpg" alt="Group members Profile Photo" class="group-page-member-photo">
        <img src="../static/img/dog11.jpg" alt="Group members Profile Photo" class="group-page-member-photo">
    <!-- only list 8 -->
        {% for member in members %}
        <li class='member-li'><a href="{{ request.route_url('profile_detail', username=member.username)}}">{{ member.username }}</a></li>
        {% endfor %}

    </div>

    <div id="#form-container">
    <form method="POST" id="join-group-form" action="{{ request.route_url('group_detail', group_id=group.id) }}">
    </form>
    </div>

{% endif %}


{% if request.has_permission('authn') %}
    <nav>
    <!-- Only for admin! -->
        <ul>
        <li><a href="{{ request.route_url('group_edit', group_id=group.id) }}">Edit Group</a></li>
        <!-- <li><a href="{{ request.route_url('profile_detail', username='admin.username') }}">Delete Group</a><li> -->
        </ul>
    </nav>
{% endif %}


<section id='forum'>
<h2> Want to plan an event? Start a discussion!!!</h2>

<div id="#form-container">
<form id="leave-comment-form" action="{{ request.route_url('group_detail', group_id=group.id) }}" method='POST'>
    <label>Discussion Topic</label>
    <div class="field-group">
        <input type="text" name="title" placeholder="What do you want to do?"/>
    </div>
    <input id="save_discussion" type="submit" name="save_discussion" value="discussion"/>
</form>
</div>

    {% for discussion in discussions %}
    <article class="discussion" id="{{ discussion.id }}">
        <h3>{{ discussion.title }}</a></h3>
        <hr/>

        {% for post in posts %}
            <div class="post">
            {% if post.discussion_id == discussion.id %}
                <p>{{ post.text }}</p>
            {% endif %}
            </div>
        {% endfor %}

    </article>
    <form id="leave-post-form" action="{{ request.route_url('group_discussion', group_id=group.id, discussion_id=discussion.id) }}" method='POST'>
    <label>Comment</label>
    <div class="field-group">
        <textarea name="text" rows="2" cols="80" placeholder='Write a comment...'></textarea>
    </div>
    <input id="save_post" type="submit" name="save_post" value="post"/>
    </form>
    {% endfor %}

    {% if not discussions %}
        <div class="entry">
            <h3>No one has planned anything yet.</h3><h3>Be the first one to!</h3>
        </div>
    {% endif %}
</section>



{% endblock %}

