{% extends "group_detail.jinja2" %}

{% block forumbody %}
<h2> Want to plan an event? Start a discussion!!!</h2>

<div id="#form-container">
<form id="leave-comment-form" action="{{ request.route_url('group_forum', group_id='group.id') }}">
    <label>Discussion Topic</label>
    <div class="field-group">
        <input type="text" name="title" placeholder="What do you want to do?"/>
    </div>
    <input id="save_discussion" type="submit" name="save_discussion" value="discussion"/>
</form>

</div>

<section id="forum">
    {% for discussion in sorted_forum.iterkeys() %}
    <article class="discussion" id="{{ discussion.id }}">
        <h3>{{ discussion.title }}</a></h3>
        <hr/>
        {% for post in sorted_forum[discussion] %}
        <div class="post">
            {{ post.text }}
        </div>
        {% else %}
        <div class="entry">
            <p><em>No one has planned anything yet. Start a discussion!</em></p>
        </div>
        {% endfor %}
    </article>

    <form id="leave-post-form" action="{{ request.route_url('group_forum', group_id='group.id', discussion_id='discussion.id') }}">
    <label>Comment</label>
    <div class="field-group">
        <textarea name="text" id="text" rows="2" cols="80" placeholder='Write a comment...'></textarea>
    </div>
    <input id="save_post" type="submit" name="save_post" value="post"/>
    </form>
    {% endfor %}

</section>

{% endblock %}
