{% extends "group_detail.jinja2" %}

{% block forumbody %}
<h2> Want to plan an event? Start a discussion!!!</h2>

<div id="#form-container">
<form id="leave-comment-form" action="{{ request.route_url('group_forum', group_id='discussion.group_id') }}">
    <label>Discussion Topic</label>
    <div class="field-group">
        <input type="text" name="title" placeholder="What do you want to do?"/>
    </div>
    <input id="save_discussion" type="submit" name="save_discussion" value="discussion"/>
</form>

</div>

<section id="forum">

    {% for discussion in discussions %}
    <article class="discussion" id="{{ discussion.id }}">
        <h3>{{ discussion.title }}</a></h3>
        <hr/>
        {% for post in posts %}
            {% if post.discussion_id == discussion.id %}
            <div class="post">
                {{ post.text }}
            </div>
            {% endif %}
        <div class="entry">
            <p><em>No one has planned anything yet. Start a discussion!</em></p>
        </div>
        {% endfor %}
        <form action="{{ request.route_url('group_forum', group_id='group_id') }}" method='POST'>
            <textarea
                class="post"
                name='write_post'
                placeholder='Write a comment...'
                cols="60"
                rows="2"
                value='{{ discussion[0] }}'></textarea>
            <input id="save_post" type="submit" name="save_post" value='Post'>
        </form>
    </article>

    <form id="leave-post-form" action="{{ request.route_url('group_forum', group_id='discussion.group_id', discussion_id='discussion.id') }}">
    <label>Comment</label>
    <div class="field-group">
        <textarea name="text" id="{{ post.id }}" rows="2" cols="80" placeholder='Write a comment...'></textarea>
    </div>
    <input id="save_post" type="submit" name="save_post" value="post"/>
    </form>
    {% endfor %}

</section>

{% endblock %}
