{% extends "group_detail.jinja2" %}
<h2> Want to start an event? Leave a comment!!</h2>

<div id="#form-container">
<form id="begin-discussion-form" action="{{ request.route_url('group_forum', group_id='group_id') }}" method='POST'>
    <label>Discussion</label>
    <input type="text" size="30" name="discussion" id="discussion"/>
    <div class="field-group">
        <label>Post</label>
        <textarea
            id="text"
            name="text"
            placeholder="Want to create an event? Leave a comment here"
            cols="60"
            rows="8"></textarea>
    </div>
    <input id="save_discussion" type="submit" name="save_discussion" value="Comment"/>
</form>

</div>

<section id="forum">
    {% for discussion in final_forum %}
    <article class="discussion" id="{{ discussion[0] }}">
        <h3>{{ discussion[0] }}</a></h3>
        <hr/>
        {% for post in discussion[1] %}
        <div class="post">
            {{ post[1] }}
            <p class="dateline">{{ post[0]('%b. %d, %Y') }}</p>
        </div>
        {% else %}
        <div class="entry">
            <p><em>No one has planned anything yet. Start a discussion!</em></p>
        </div>
        {% endfor %}
        <form action="{{ request.route_url('group_forum', group_id='group_id') }}" method='POST'>
            <textarea
                class="post"
                name='write_post'
                placeholder='Write a comment...'
                cols="60"
                rows="2"
                value='{{ discussion[0] }}'></textarea>
            <input id="save_post" type="submit" name="save_post" value='Post'>
        </form>
    </article>
    {% endfor %}
</section>
{% endblock %}