{% extends "base.jinja2" %}


{% block body %}


<h1> We're Taste Buddies</h1>

<p> Taste Buddies lets you connect to people who have similar taste preferences
as you do. Taste Buddies makes it easy for anyone to organize a local food group
and plan food adventures together!
</p>

<h1> Taste Buddies's mission</h1>

<p> Taste Buddie's mission is to help food lovers in the community to explore
local restaurants and organize themselves into groups to enjoy the Pacific
Northwest food scene. </p>

{% endblock %}
