{% extends "base.jinja2" %}


{% block body %}


<h1> We're Taste Buddies</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam sem,fringilla vel lectus in, pulvinar viverra massa. Nunc rutrum leo id tincidunt porta.
Nullam felis mi, volutpat quis justo nec, varius bibendum dolor. Phasellus ac tortor nisi. Nam eget ultrices nibh, sed dapibus risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

<h1> Our Service</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam sem,fringilla vel lectus in, pulvinar viverra massa. Nunc rutrum leo id tincidunt porta.
Nullam felis mi, volutpat quis justo nec, varius bibendum dolor. Phasellus ac tortor nisi. Nam eget ultrices nibh, sed dapibus risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

{% endblock %}
