45-{% extends "base.jinja2" %}

{% block body %}


<div id="#form-container">
    <form id="view-personal-profile-form">
<h1>Your Profile!</h1>
    <div><!--     an image uploading bar thing suppose to be right here -->
       <img src="../static/img/dog2.jpg" alt="Pesonal Profile Photo" class="profile-photo">
    </div>
    <label>First Name</label>
    <div class="field-group">
        <input type="text" name="first_name" id="first_name"
        placeholder="First Name"/>
    </div>
    <label>Last Name</label>
    <div class="field-group">
        <input type="text" name="last_name" id="last_name"
        placeholder="Last Name"/>
    </div>

    <label>Age</label>
    <div class="field-group">
        <select class="age_range" />
            <option>18-24</option>
            <option>25-34</option>
            <option>35-44</option>
            <option>45-54</option>
            <option>55-64</option>
            <option>65-74</option>
            <option>75+</option>
        </select>
    </div>
    <label>Location</label>
    <div class="field-group">
        <select class="location" />
            <option>Seattle</option>
            <option>Kitsap</option>
            <option>Eastside</option>
            <option>Skagit</option>
            <option>South King</option>
        </select>
    </div>
    <div id="personal_taste" class="field-group">
        <label>Taste</label>
        <input type="checkbox" name="personal_taste" class="style" value="Sour"> Sour
        <input type="checkbox" name="personal_taste" class="style" value="Sweet"> Sweet
        <input type="checkbox" name="personal_taste" class="style" value="Salty"> Salty
        <input type="checkbox" name="personal_taste" class="style" value="Spicy"> Spicy
        <input type="checkbox" name="personal_taste" class="style" value="Bitter"> Bitter
        <input type="checkbox" name="personal_taste" class="style" value="Italian"> Italian
        <input type="checkbox" name="personal_taste" class="style" value="Indian"> Indian
        <input type="checkbox" name="personal_taste" class="style" value="Chinese"> Chinese
        <input type="checkbox" name="personal_taste" class="style" value="American_Classic"> American Classic
        <input type="checkbox" name="personal_taste" class="style" value="German"> German
        <input type="checkbox" name="personal_taste" class="style" value="British"> British
        <input type="checkbox" name="personal_taste" class="style" value="French"> French
        <input type="checkbox" name="personal_taste" class="style" value="Vietnamese"> Vietnamese
        <input type="checkbox" name="personal_taste" class="style" value="Japanese"> Japanese
        <input type="checkbox" name="personal_taste" class="style" value="Pub"> Pub
        <input type="checkbox" name="personal_taste" class="style" value="Persian"> Persian
        <input type="checkbox" name="personal_taste" class="style" value="Mediterranian"> Mediterranian
        <input type="checkbox" name="personal_taste" class="style" value="Greek"> Greek
        <input type="checkbox" name="personal_taste" class="style" value="Afghan">Afghan
        <input type="checkbox" name="personal_taste" class="style" value="Somolian">Somolian
        <input type="checkbox" name="personal_taste" class="style" value="Thai">
        Thai
        <input type="checkbox" name="personal_taste" class="style" value="Barbecue">Barbecue
        <input type="checkbox" name="personal_taste" class="style" value="Soul">
        Soul
        <input type="checkbox" name="personal_taste" class="style" value="Ethiopian">Ethiopian
        <input type="checkbox" name="personal_taste" class="style" value="Jamaican">Jamaican
        <input type="checkbox" name="personal_taste" class="style" value="Mexican">Mexican
        <input type="checkbox" name="personal_taste" class="style" value="Korean">Korean
        <label>Diet</label>
        <input type="checkbox" name="personal_taste" class="style" value="Vegetarian">Vegetarian
        <input type="checkbox" name="personal_taste" class="style" value="Vegan">Vegan
        <input type="checkbox" name="personal_taste" class="style" value="Meat_Eater">Meat Eater
        <input type="checkbox" name="personal_taste" class="style" value="Gluten_Free">Gluten Free
        <input type="checkbox" name="personal_taste" class="style" value="Low_Carb">Low Carb
    </div>
    <label>Favorite Restaurants</label>
    <div class="field-group">
        <input type="text" name="favorite_restaurants" id="favorite_restaurants"
        placeholder="Favorite Restaurants"/>
    </div>
    <label>Favorite Food</label>
    <div class="field-group">
    <input type="text" name="favorite_food" id="favorite_food"
    placeholder="Favorite Food"/>
    </div>
    <div id="personal_price_range" class="field-group">
        <label>Price</label>
        <input type="radio" name="group_price" class="style" value="cheap">$
        <input type="radio" name="group_price" class="style" value="average">$$
        <input type="radio" name="group_price" class="style" value="moderate">$$$
        <input type="radio" name="group_price" class="style" value="expensive">$$$$
    </div>
        <input id="save_personal_profile" type="submit" name="profile_save" value="Save Profile"/>
 </form>
</div>

<nav>
    <ul>
    <li><a href="{{ request.route_url('group_detail', group_id=0) }}"> +Your Groups</a></li>

    <li><a href="{{ request.route_url('group_detail', group_id=1) }}"> +Administer Your Groups</a></li>

    <li><a href="{{ request.route_url('group_create') }}">+Create Group</a></li>

    <li><a href="{{ request.route_url('profile_edit', username='username') }}">+Edit Profile</a></li>
    </ul>
</nav>

</form>
</div>

{% endblock %}
