{% extends "base.jinja2" %}

{% block body %}

<h1>You want to sign up for an account!</h1>

<div id="#form-container">
<form id="create-user-form" action="{{ request.route_url('verify') }}">
    <input class="input" type="text" name="username" id="username"
    placeholder="Username"/>

    <input class="input" type="text" name="password" id="password"
    placeholder="Password"/>

    <input id="create-account" type="submit" name="submit" placeholder="Create Account"/>
</form>
</div>

{% endblock %}


