{% extends "base.jinja2" %}

{% block body %}

<h1>Let's make sure you're not a robot!</h1>

<div id="#form-container">
<form id="verification-form" method="POST"
      action="{{ request.route_url('profile_detail', username=username) }}">

    <input class="input" type="text" name="verify_code" id="verify_text"
    placeholder="Verification Code"/>

    <input id="verify" type="submit" name="Submit" value="Verify"/>
</form>

<div id="#form-container">
    <form id="resend-email-form" action="{{ request.route_url('verify') }}">
    <input id="resend_email_button" type="submit" name="resend_email" value="Resend Email"/>
</form>
</div>

</div>
{% endblock %}


