<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Taste Buddies</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
  </head>
  <body>
    <div id="logo">
        <img src="/static/img/logo.jpeg" alt="Taste Buddies" />
     </div>
    <header>
        <nav>
            <ul>
                <li><a href="index.html" class="selected">+Home</a></li>
                <li><a href="login.html">+Log in</a></li>
<!--                 show the latest entry on the detail page -->
                <li><a href="create_account.html">+Create Account</a></li>
                </li>
            </ul>
        </nav>
    <header class="container">
    <div id=cat>
        <img src="/static/img/cat_with_glasses.jpg" alt="cat with glasses" />
    </div>
    <p> We're Taste Buddies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam sem, fringilla vel lectus in, pulvinar viverra massa. Nunc rutrum leo id tincidunt porta. Nullam felis mi, volutpat quis justo nec, varius bibendum dolor. Phasellus ac tortor nisi. Nam eget ultrices nibh, sed dapibus risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam facilisis urna erat, vitae posuere lorem efficitur ut. Curabitur gravida tempus turpis, consectetur luctus ante dapibus non.</p>
    </header>
    <main>
    </main>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    <aside>
      </aside>
    <footer>
      <p>&copy; 2015 Taste Buddies Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
  </body>
</html>
